body {
    overflow-x: hidden;
}

#canvas {
    position: absolute;
    top: 500px;
    left: 150px;
    background-image: url("Bilder/spiel_bg.jpg");
    background-size: 1200px 500px;
    background-repeat: no-repeat;
}

#hase {
    position: absolute;
    z-index: 3;
}

p {
    position: relative;
}

th {
    padding: 10px;
}

.container {
    margin-top: 10;
    width: 85%;
    height: 850px;
    color: #482080;
    background-color: #ffffff;
    opacity: 0.8;

}

.bgmuster {
    padding-top: 20px;
    background-image: url("Bilder/bg_klein.png");
    background-repeat: repeat;
    background-size: 120px;
}
.container-inhalt {
    display: grid;
    justify-content: center;


}