#score {
    width: 90%;
}

#score, .el {
    border: 1px solid black;
    height: 50px;
}

#thead {
    font-size: 35px;
    border: 1px solid black;
}

#tbody {
    font-size: 20px;
}

.el {
    font-family: "Bookman Old Style", serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*The Modal Background*/
.scoreModal {
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);/*Fallback color*/
    background-color: rgba(0,0,0,0.4);/*Black with opacity*/
}

/*The Modal Content*/
.scoreModal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/*The Close Button*/
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}