body {
    overflow-x: hidden;
}

#canvas {
    position: absolute;
    top: 130px;
    left: 170px;
    border: 1px solid black;
    background-image: url("spiel_bg.jpg");
    background-size: 1200px 500px;
    background-repeat: no-repeat;
}

#hase {
    position: absolute;
    z-index: 2;
}

p {
    position: relative;
}